[run]
omit=
    rummage/__main__.py
    rummage/lib/gui/*
    rummage/lib/util/*
    rummage/lib/safe_import.py
    rummage/lib/rumcore/file_hidden.py
    rummage/lib/rumcore/file_times.py

[report]
omit=
    rummage/__main__.py
    rummage/lib/gui/*
    rummage/lib/util/*
    rummage/lib/safe_import.py
    rummage/lib/rumcore/file_hidden.py
    rummage/lib/rumcore/file_times.py
