coverage.xml

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mac files
*.DS_Store

# Mkdocs
site/

# Pytest
.pytest_cache/

# Miscellaneous
.cache
.idea/
*.log
*.bak
*.patch
rummage/lib/gui/data/docs/_snippets/
rummage/lib/gui/data/docs/sitemap.xml
rummage/lib/gui/data/docs/sitemap.xml.gz
docs/src/dictionary/hunspell/

# Virtual environments
venv/
