recursive-include rummage *.py
recursive-include docs *.md *.png *.gif *.js *.css *.html
recursive-include rummage/lib/gui/data *.png *.icns *.ico *.js *.css *.html
recursive-include tests *.txt *.py *.hidden_file *.rum-bak
recursive-include requirements *.txt
recursive-include tools *.py
recursive-include rummage/lib/gui/localization/locale *.po *.mo
include setup.py
include setup.cfg
include tox.ini
include gui.fbp
include mkdocs.yml
include .coveragerc
include LICENSE.md
include README.md
include MANIFEST.in
