body {
    padding: 0;
    margin: 0 10em;
    height: auto;
    background: #fff;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    text-align: center;
}

h1 {
    position: relative;
    top: 0;
    margin-top: 0;
    padding-top: 50px;
    color: #333;
}
#search_div {
    margin: 1em auto;
}
#search_label {
    padding: 1em 0;
    font-weight: bold;
    color: #333;
}
img {
    padding: 0;
    border: 0;
    vertical-align: middle;
    width:32px;
    height: auto;
}
/* Sortable tables */
table.sortable thead {
    background-color:#489bd2;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#eeeeee;
    font-weight: bold;
    cursor: default;
}
table.sortable {
    background: #ffffff;
}
table.sortable tbody tr:nth-child(2n) td {
  background: #eeeeee;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background: #ffffff;
}
/* Tab Bar */
#bar a{
    margin: 0px;
    padding-top:5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    color:#eeeeee;
    text-decoration:none;
    font-weight:bold;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    border-bottom: 5px;
    background:#489bd2;
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    box-shadow: 3px 3px 4px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}
#bar a.unselected {
    background: #116ba6;
}
#bar a:hover{
    color:#ccffff;
}
table {
    position: relative;
    z-index: 99;
    font-size: small;
    border: 8px solid #489bd2;
    text-align: left;
    margin: auto;
    display: block;
    overflow: auto;
    border-collapse: separate;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-spacing:0;
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    box-shadow: 3px 3px 4px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}
table td, table th {
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

table td:last-child {
    width: 100%;
}

dif.tab_hidden:after {
    visibility: hidden;
}

div.tab_hidden {
    display: none;
}
div#bar {
    margin: auto;
}
div.main {
    zoom: 1;
    padding-bottom: 50px;
}
